@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto");
* {
  font-family: "Roboto";
}
body {
  background-color: #fafafa;
  top: 50px;
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #fff;
}
span {
  font-size: large;
  font-weight: bold;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.btn {
  color: #fafafa;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(
    166deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin-bottom: 40px;
}
.navbar .dropdown button {
  margin-right: 40px;
}
.dropdown-toggle::after {
  content: none;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: linear-gradient(
    166deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -200px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: linear-gradient(
    166deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: #fff;
}
#sidebar span {
  font-weight: lighter;
  font-size: small;
  padding-left: 30px;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: linear-gradient(
    166deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.display-4 {
  font-weight: 700;
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: 25px;
  right: 4px;
  opacity: 0.4;
  font-size: 80px;
}
#content .btn {
  background: linear-gradient(
    166deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
